---
layout: default
---

<section>

    <!-- Logo -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1>Alpha <span class="un-strong main-color">Stars</span></h1>
                <h3><em>Summer Analyst and Computer Science and Engineering Program</em></h3>
            </div>
        </div>
    </div>

    <hr>

    {% for link in site.navbarlinks %}
        {% include {{ link.name }}.html %}
    {% endfor %}

</section>
