<section id="about">

    <div class="container">
        <h2>About Alpha Stars</h2>

        <h3>What the Program Is</h3>
        <div class="row">
            <p>
                We’re hiring for the Alpha Stars Summer Analyst Program (for business majors) and the Alpha Stars Computer Science and Engineering Program (for computer science and engineering majors).  We’ll put you into teams where you’ll pick a business idea, start building it, then pitch it to investors (last year’s judges included people from AlphaLab, Birchmere Ventures, and Alluvial Capital).
            </p>
        </div>

        <h3>Why We Started the Program</h3>
        <div class="row">
            <p>
                We started this program in order to build a relationship with the best and brightest students and young professionals. We want the people going through the program to develop a solid skill set and be able to compete for the best jobs. For the entrepreneurially-minded, we want you to have the skills to build a business and achieve your best.
            </p>
            <p>
                We also built this Program because we want to work with people who are curious and eager to sharpen their entrepreneurial abilities. Most importantly, the Program will help you to develop a deep skill set in an environment that sharpens your character.
            </p>
            <p>
                If you love to learn, try hard things, push your limits, and work tremendously hard, we encourage you to apply.
            </p>
        </div>

        <h3>How You'll Develop Your Skills</h3>
        <div class="row">
            <ul>
                <li>
                    Work in a cross-functional team including business people and software, mechanical, or electrical engineers to create an idea, build the business, then pitch it to investors in-person
                </li>
                <li>
                    You’ll work with your team and advisors to start building out the idea, interview potential customers, and decide how to price your product (the Alpha Stars Program Directors and Managers will work with you)
                </li>
                <li>
                    Read hand-picked articles that will help you understand the business capabilities and profit potential of the product(s) you’re building, as well as the investment landscape
                </li>
                <li>
                    Those on the business side will publish investment articles to CNN Money, Yahoo! Finance, Google Finance, and Nasdaq.com via Seeking Alpha, The Motley Fool, and Business Insider
                </li>
                <li>
                    Everyone will participate in weekly calls with industry executives, examples include:
                    <ul>
                        <li>
                            Former Marketing Executive at MasterCard and Verizon (helped develop MasterCard’s “Priceless” campaign and Verizon’s “Can you hear me now?” campaign)
                        </li>
                        <li>
                            Well-known author and public speaker - one of the authors of Chicken Soup for the Soul
                        </li>
                        <li>
                            CFO of one of Pittsburgh’s largest venture capital firms
                        </li>
                        <li>
                            Boston Consulting Group consultant who worked with the CEO of a large US consumer brand company
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</section>
