<section id="articles">

    <div class="container">
        <h2>Select Investment Articles</h2>
        
        <p>
            During 2013 and 2014, the summer analysts published over 160 investment articles to The Motley Fool and Seeking Alpha, which appeared across Yahoo! Finance, Google Finance, CNN Money, Morningstar, Nasdaq.com, and numerous other sites.  Below are a handful of sample articles.
        </p>

        <ul>
            <li>
                <a href="http://seekingalpha.com/article/2280223-an-in-depth-look-at-sempras-newly-approved-lng-export-facility">
                    An In-depth Look at Sempra’s Newly Approved LNG Export Facility
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/07/16/read-this-before-you-invest-in-a-regional-bank.aspx">
                    Read This Before You Invest in a Regional Bank
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2013/11/01/3-reasons-dell-went-private.aspx">
                    3 Reasons Dell Went Private
                </a>
            </li>
            <li>
                <a href="http://seekingalpha.com/article/1675192-a-formula-you-can-profit-from">
                    A Formula You Can Profit From
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/05/28/4-ways-mcdonalds-can-rebound-from-a-year-of-failur.aspx">
                    4 Ways McDonald’s can Rebound from a Year of Failure
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/07/21/can-lexus-successfully-navigate-the-competitive-lu.aspx">
                    Can Lexus Successfully Navigate the Competitive Luxury Market?
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2013/09/03/hulu-was-directvs-bestbuy.aspx">
                    Hulu Was DirecTV’s Best Buy
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/05/22/why-tesla-motors-inc-could-produce-more-electric-c.aspx">
                    Why Tesla Could Produce More Electric Cars in 2020 than the Whole World Can Make Now
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/07/10/the-truth-behind-the-governments-clean-power-plan.aspx">
                    The Truth Behind the Government’s ‘Clean Power Plan’
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/05/03/goldman-sachs-shows-that-high-frequency-trading-ma.aspx">
                    Goldman Sachs Shows That High Frequency Trading May Not be All It’s Cracked Up to be
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2013/08/30/even-warren-buffet-is-buying-newspapers-should-you.aspx">
                    Even Warren Buffett Is Buying Newspapers - Should You?
                </a>
            </li>
            <li>
                <a href="http://www.fool.com/investing/general/2014/06/09/american-eagle-updates-its-playbook-to-compete-wit.aspx">
                    American Eagle Updates Playbook to Compete with Fast-Fashion
                </a>
            </li>
        </ul>

    </div>

</section>
