<section id="projects">
    <div class="container">
        <h2>Teams We've Mentored</h2>

        <div>
            <img src="https://cloud.githubusercontent.com/assets/5856011/7352524/3cc46f64-ecda-11e4-8e8e-7b2ba1400755.png" class="project-img" alt="Project Logo" />
            <p>
                ARCH Accessories is a manufacturing and design company for firearms. The company has a preliminary patent pending on an accessory for the AR-15 and is growing its pipeline of product ideas.
            </p>
            <p>
                Team: Noah Walker, Chad Cobb, Luke Swadener
            </p>
        </div>

        <div>
            <img src="https://cloud.githubusercontent.com/assets/5856011/7352526/3ef736cc-ecda-11e4-8e1c-3f3e97efc088.png" class="project-img" alt="Project Logo" />
            <p>
                CareFinder helps people navigate their way through hospitals, and helps them locate the closest nearby hospital.  Hospitals across North America spend a tremendous amount of money (both hard and soft dollars) helping people navigate their way through their halls.  CareFinder helps more patients go to their lab and doctor appointments, helping hospitals both earn more money and build better customer retention.
            </p>
            <p>
                Team: Benjamin Marasco, Evan Avery, Savanna Davies
            </p>
        </div>

        <div>
            <img src="https://cloud.githubusercontent.com/assets/5856011/7371397/a7ba3bf0-ed8e-11e4-9441-6541bcfe475f.JPG" class="project-img" alt="Project Logo" />
            <p>
                There are over 20 million coffee brewers that use K-cups, and Keurig sold over 10 million in 2014 alone.  The problem is that after a period of weeks they need cleaned, which is a hassle, and some report their coffee tasting like vinegar after the cleaning.  K-Clean is simply a K-cup that cleans your Keurig for you.
            </p>
            <p>
                Team: Jared Billings, Ashley Carmichael, Kyle Richert
            </p>
        </div>

        <div>
            <img src="https://cloud.githubusercontent.com/assets/5856011/7371399/abc9c698-ed8e-11e4-8d5d-c3a2ddab269f.JPG" class="project-img" alt="Project Logo" />
            <p>
                30MinutePrimer is a business that creates and distributes short knowledge primers on hundreds of niche topics.  Using entrenched human learning methods, 30MinutePrimer helps its customers learn essential skills quickly, with longer recall, and the ability to deploy them more effectively.
            </p>
            <p>
                Team: David Post, Bryan Thomas
            </p>
        </div>

    </div>
</section>
