html {
    position: relative;
    min-height: 100%;
}

body {
    /* Accounts for the nav bar and footer */
    margin: 60px 0px;
}

h1 {
    font-size: $title-font-size;
    text-shadow: 3px 3px #B0B0B0;
}

h2 {
    color: $color-primary;
    padding-top: 20px;
}

.main-color {
    color: $color-primary;
}

.un-strong {
    font-weight: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

p, li, td {
    font-size: $base-font-size;
}

li {
    margin-top: 10px;
}

section {
    padding: 50px 10px;
}

.img-center {
	margin: 0 auto;
}

.face {
    max-height: 200px;
}

.project-img {
    max-height: 100px;
}
