html {
    position: relative;
    min-height: 100%;
}

body {
    /* Accounts for the nav bar and footer */
    margin: 60px 0px;
}

h1, h2, h3 {
    color: $color-primary;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

p, li, td {
    font-size: $base-font-size;
}

section {
    padding: 50px 10px;
}

.img-center {
	margin: 0 auto;
}

.face {
    max-height: 200px;
}

.project-img {
    max-height: 100px;
}
